.footer{
    margin-bottom: 1rem;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.social-links{
    align-items: center;
    justify-content: space-between;
}

.social-links svg{
    fill:hsl(209, 100%, 74%);
    height: 3rem;
    width: 3rem;
}

.social-links svg:hover{
    fill:hsl(209, 100%, 58%);
}

.nav{
    display: flex;
    gap: 2rem;
}

.information-footer-container{
    border-top: 1px solid  hsla(0, 0%, 54%, 0.226);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.information-footer-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.information-footer-container ul li a{
    opacity: 50%;
    font-size: 1rem;
    color: hsl(0, 0%, 25%);
}

.information-footer-container ul li a:hover{
    color: hsl(207, 13%, 17%);
}

.copyright-footer-container p{
    color: hsl(0, 0%, 64%);
    font-size: 0.8rem;
    text-align: center;
    
}