@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos text';
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 0;
    width: 80%;
}

.header-logo{
    cursor: pointer;
    height: auto;
    width: 8%;
}

.header-menu ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
}

.header-menu ul li a{
    color: #8f969d;
    display: flex;
    font: 500 14px/40px "Poppins",sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 0 9px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: all .3s linear 0s;
    
}

.header-menu a:hover{
    color:hsl(210, 6%, 33%);
    opacity: 0.8;
}

.header-menu a:active{
    color:rgb(0, 162, 255);
    opacity: 0.8;
}

.header-checkout-button button{
    background-color: #ff6900;
    border-radius: 150px;
    border: none;
    color: white;
    cursor: pointer;
    font: 500 16px/40px "Poppins",sans-serif;
    font-weight: bold;
    height: 40px;
    transition: opacity 1s;
    width: 160px;

}

.header-checkout-button button:hover{
    background-color: #1b233a;
    opacity: 0.8;
}

.header-checkout-button button:active{
    background-color: #fc8600;
    opacity: 0.5;
}
.slider{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
}
.slider-image{

}
.slider-title{

}
.slider-description{

}
.slider-button{

}
.feature{
    background-color: hsl(0, 0%, 87%);
    display:flex;
    flex-direction: column;
    height: 60vh;
    padding: 5% 15%;
}
.feature-title{

}
.feature-description{

}
.feature-content{

}
.feature-content-item{

}
.feature-content-item-logo{

}
.feature-content-item-title{

}
.feature-content-item-description{

}
.details{

}
.details-title{

}
.details-items{

}

.details-item{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.details-item-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.details-item-icon svg{
    fill:hsl(209, 100%, 50%);
    height: 3rem;
    width: 3rem;
}

.details-item-text{

}
.details-item-text-title{

}
.details-item-text-description{

}
.details-image{

}
.team-title{

}
.team-description{

}
.team-items{

}
.team-item{

}
.team-item-social-networks{

}
.team-item-picture{

}
.team-item-name{

}
.team-item-description{

}
.contact-title{

}
.contact-map{

}
.contact-flipbox{

}
.contact-flipbox-front{

}
.contact-flipbox-title{

}
.contact-flipbox-item{

}
.contact-flipbox-item-icon{

}
.contact-flipbox-item-description{

}
.contact-flipbox-front-button{

}
.contact-flipbox-back{

}
.contact-flipbox-form{

}
.contact-flipbox-send-button{

}
.social{

}
.social-title{

}

.social-links ul li a {
    width: 48px;
    height: 48px;
    font-size: 22px;
    line-height: 52px;
    border-radius: 100%;
    padding: 0;
}

.nav{

}
.separation-line{

}
.information-footer-container{

}
.copyright-footer-container{

}