@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700%7CAbeeZee:400,800,600&subset=latin,latin-ext,latin,latin-ext");

body{
    background-color: hsl(0, 0%, 100%);
    display:flex;
    flex-direction:column;    
    min-height: 100vh;
    width: 100%;
}

main{
    margin: 1rem 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(208, 13%, 25%);
}

h1, h2, h3, h4 {
    font-family: "Poppins",sans-serif;
}

h5, h6 {
    font-family: "Poppins",sans-serif;
}

a, td, th, p, button, span, label, select, input, textarea, li{
    font-family: "Poppins",sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
    outline-offset: 0;
}

img{
    object-fit: cover;
    max-width: 100%;
}

video{
    max-width: 100%;
}

.header{
    padding: 1rem 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.header-logo{
    cursor: pointer;
}

.header-menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.header-menu ul li a{
    color: hsl(210, 7%, 59%);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header-menu a:hover,
.header-menu a:active{
    color:hsl(210, 6%, 33%);
}

.header-checkout-button button{
    background-color: hsl(18, 100%, 57%);
    border-radius: 150px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
}

.header-checkout-button button:hover{
    background-color: hsl(208, 13%, 25%);
}

.header-checkout-button button:active{
    background-color: hsl(35, 84%, 45%);
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    position: relative;
    width: 100%;
}

.slider-background-image{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.slider-background-image img{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider-title{
    position: absolute;
    top: 15%;
}

.slider-title h2{
    color: hsl(208, 13%, 25%);
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: -3px;
}

.slider-description{
    position: absolute;
    top: 30%;
    width: 50%;
}

.slider-description p{
    color: hsl(207, 5%, 56%);
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: -.2px;
    text-align: center;
}

.slider-button{
    position: absolute;
    top: 45%;
}

.slider-button button{
    border: none;
    position: relative;
    display: inline-block;
    padding: 1rem 5.5rem;
    cursor: pointer;
    border-radius: 60px;
    font-weight: 500;
    font-size: 1.7rem;
    color: white;
    background-color: hsl(209, 100%, 50%);
    text-align: center;
}

.slider-button button:hover{
    background-color: hsl(208, 13%, 25%);
}

.slider-image{
    bottom: 5%;
    position: absolute;
    width: max-content;
}

.featured{
    background-color:hsl(0, 7%, 97%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 10%;
}

.featured-title{
    gap: 2rem;
}

.featured-title h2{
    color: hsl(208, 13%, 23%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
}

.featured-description{
    margin-bottom: 5rem;
}

.featured-description::after{
    background-color: rgb(184, 184, 184);
    content: " ";
    display: block;
    height: 0.3rem;
    margin: 0 auto;
    width: 10%;
}

.featured-description p{
    color: hsl(210, 6%, 58%);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 5vh;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0 6rem 0;
}

.featured-containers{
    display: flex;
    gap: 1rem;
}

.featured-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.featured-container:not(:last-child)::after {
    color: hsl(0, 0%, 22%);
    content: " > ";
    display: block;
    width: 10%;
}

.container-image{
    margin-bottom: 1rem;
    max-width: 100%;
}

.container-text-title{
    margin-bottom: 1rem;
}

.container-text h3{
    color: hsl(208, 13%, 25%);
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
}

.container-text-description{
    padding: 0 2rem;
}

.container-text-description p{
    color: hsl(204, 4%, 53%);
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: -.2px;
    text-align: center;
}

.faqs{
    background-color:hsl(0, 0%, 94%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 10%;
}

.faqs-title{
    text-align: center;
    position: relative;
}

.faqs-title h2{
    color: hsl(210, 5%, 30%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.faqs-title p{
    color: hsl(210, 6%, 58%);
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: -.2px;
    text-align: center;
    padding: 0 16rem 2rem;
}

.faqs-title::after{
    background-color: rgb(184, 184, 184);
    content: " ";
    display: block;
    height: 0.3rem;
    margin: 0 auto;
    width: 10%;
}

.faqs-description{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 auto;
}

.faqs-description-item{
    margin: 1rem 0;
}

.faqs-question{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
}

.faqs-question::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 83%);
}

.faqs-question h3{
    color:hsl(200, 3%, 41%);
    font-weight: 600;
    font-size: 1.8rem; 
}

.faqs-question-icon svg{
    fill:hsl(220, 2%, 29%);
    height: 3vh;
    width: 2rem;
}

.faqs-answer p{
    color: hsl(210, 3%, 59%);
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 150%;
    padding: 1rem 0;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    padding: 5rem 0;
    margin: 2rem 0;
}

.details-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:20%
}

.details-item{
    display: flex;
    gap: 2rem;
}

.details-item-icon{
    display: flex;
}

.details-item-icon svg{
    fill:hsl(209, 100%, 50%);
    height: 4vh;
    width: 2rem;
}

.details-item-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-item-text-title{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: "Poppins",sans-serif;
}

.details-item-text-description{
    font-weight: 300;
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
}

.details-item-text-description p{
    text-align: justify;
}

.details-image{
    width: auto;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: hsl(210, 8%, 95%);
    padding: 10vh 10%;
}

.team-maintext-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-maintext-container{
    padding-top: 5px;
    margin: 0 0 2rem;
}

.title-maintext-container h2{
    color: hsl(208, 13%, 25%);
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
}

.description-maintext-container{
    padding: 0 10%;
    color: hsl(208, 7%, 61%);
    margin: 0 auto 2rem;
}

.description-maintext-container p{
    color: hsl(204, 4%, 53%);
    font-weight: 300;
    font-size: 1.2rem;
}

.team-items{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.team-item{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
}

.team-item-social-networks-expand svg{
    width: 2rem; 
    height: 2rem;
    background-color: rgb(255, 255, 255);
    color:hsl(207, 13%, 17%);
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.team-item-picture{
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.team-item-name{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item-name h4{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.team-item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.team-item-description p{
    color:hsl(208, 13%, 25%);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    position: relative;
}

.contact-map{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-flipbox{
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    height: 40vh;
    padding: 2rem;
    z-index: 2;
}

.contact-flipbox-front{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.contact-flipbox-title{
    font-weight: 300;
    font-size: 2rem;
}

.contact-flipbox-title h2{
    text-align: center;
    text-transform: uppercase;
}

.contact-flipbox-item{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.contact-flipbox-item-icon{
    align-items: left;
}

.contact-flipbox-item-icon svg{
    color:hsl(207, 5%, 56%);
    height: 1rem;
    width: 1rem;
}

.contact-flipbox-item-description p{
    color: hsl(0, 0%, 50%);
}

.contact-flipbox-front-button{
    width: 100%;
    height: 4rem;
}
.contact-flipbox-front-button button{
    background: hsl(209, 100%, 50%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.contact-flipbox-front-button button:hover{
    background-color: hsla(208, 13%, 25%, 0.534);
}

.footer{
    margin-bottom: 1rem;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.social-links{
    align-items: center;
    justify-content: space-between;
}

.social-links svg{
    fill:hsl(209, 100%, 74%);
    height: 3rem;
    width: 3rem;
}

.social-links svg:hover{
    fill:hsl(209, 100%, 58%);
}

.nav{
    display: flex;
    gap: 2rem;
}

.information-footer-container{
    border-top: 1px solid  hsla(0, 0%, 54%, 0.226);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.information-footer-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.information-footer-container ul li a{
    opacity: 50%;
    font-size: 1rem;
    color: hsl(0, 0%, 25%);
}

.information-footer-container ul li a:hover{
    color: hsl(207, 13%, 17%);
}

.copyright-footer-container p{
    color: hsl(0, 0%, 64%);
    font-size: 0.8rem;
    text-align: center;
    
}