.modal{
    background-color: hsla(0, 0%, 100%, 0.8);
    height: 100vh;
    position: fixed;
    left: 0;
    opacity: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 2000;
}

.modal-box{
    position: absolute;
    height: 70vh;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 62px hsla(0, 0%, 0%, 0.3);
    display:flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

.modal-gallery{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.modal-details-info{
    
}

.watch-title{
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid hsla(0, 0%, 72%, 0.747);
    margin-bottom: 1rem;
    padding: 1rem;
}

.watch-name{}

.watch-edition{}

.watch-model{}

.watch-facture{
    display: flex;
    gap: 1rem;
}

.new-prize h3{
    color: $primary-color;
}

.offer-tag h6{
    background-color: $secondary-color;
    color: hsl(0, 0%, 100%);
    padding: 0.1rem;
}

.watch-description{
    color: hsl(0, 1%, 68%);
    font-size: 1 rem;
    line-height: 150%;
    border-bottom: 0.5px solid hsla(0, 0%, 72%, 0.747);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.watch-options{
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid hsla(0, 0%, 72%, 0.747);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.watch-option-color{}

.color-title{

}


.watch-option-sold p{
    color: $primary-color;
}

.watch-option-sizes p{
    color: $primary-color;
}

.modal-checkout-button button{
    background: $primary-color;
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.modal-checkout-button button:hover{
    background: $hover-color;
}

.modal-personal-info{
    // width: 100%;
    // background-color: hsl(0, 0%, 100%);
    // padding: 3rem;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;   
    // left: 0;
    // backface-visibility: hidden;
    // transform: perspective(1000px) rotateY(-180deg);
    // transition: 1s;
}

.go-back-button button{
    border-radius: 30px;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.3rem 1.8rem;
    color: hsl(208, 11%, 74%);
    border-color: hsla(210, 11%, 89%, 0.89);
    background-color: transparent;
}

.go-back-button button:hover{
    background: $hover-color;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.modal-form input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(232,238,242,255);
    background-color: rgba(248,251,253,255);
    padding: 10px 10px;
    font-size: 1rem;
}

.form-button button{
    background: $primary-color;
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.modal-close-button{
    cursor: pointer;
    right: 1rem;
    top: 1rem;
    position: absolute;
}

.modal-close-button svg{
    fill: hsl(203, 15%, 78%);
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
}

.modal-close-button svg:hover{
    fill: hsl(210, 1%, 33%);
}