.tabs {
    border-bottom: 0.5px solid hsla(0, 0%, 72%, 0.747);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.tab {
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
    position: relative;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.tab:hover {
    background-color: hsl(0, 0%, 80%);
}

.tab h3 {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
}

.tab h3:hover {
    color: hsl(0, 0%, 100%);
}

.tab.active {
    background-color: hsl(0, 0%, 80%);
}

.tab-content {
    height: 10vh;
    padding-top: 1rem;
    text-align: start;
    width: 100%;
}

.tab-content.focus {
    background-color: hsl(0, 0%, 80%);
}

.tab-content .content {
    display: none;
    overflow: hidden;
}

.content p{
    font-weight: 400;
    font-size: 1rem;
}

.tab-content .content.active {
    display: block;
}