.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: hsl(210, 8%, 95%);
    padding: 10vh 10%;
}

.team-maintext-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-maintext-container{
    padding-top: 5px;
    margin: 0 0 2rem;
}

.title-maintext-container h2{
    color: hsl(208, 13%, 23%);
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
}

.description-maintext-container{
    padding: 0 10%;
    color: hsl(208, 7%, 61%);
    margin: 0 auto 2rem;
}

.description-maintext-container p{
    color: hsl(204, 4%, 53%);
    font-weight: 300;
    font-size: 1.2rem;
}

.team-items{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.team-item{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
}

.team-item-social-networks-expand svg{
    width: 2rem; 
    height: 2rem;
    background-color: rgb(255, 255, 255);
    color:hsl(207, 13%, 17%);
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.team-item-picture{
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.team-item-name{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-item-name h4{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.team-item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.team-item-description p{
    color:hsl(208, 13%, 25%);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}