.modal-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.modal-form .name{
    display: flex;
    gap: 2rem;
}

.modal-form .personal-data{
    display: flex;
    gap: 2rem;
}

.address-line{
    display: flex;
    flex-direction: column;
}

.modal-form .state{
    display: flex;
    gap: 2rem;
}

.modal-form input{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border: 0.5px solid hsl(206, 29%, 91%);
    background-color: hsl(204, 56%, 98%);
    padding: 10px 10px;
    font-size: 1rem;
}

.modal-form .charCount {
    font-size: 14px;
    color: hsl(206, 29%, 91%);
    margin-top: 5px;
}
  
.modal-form .charCount.max-char {
    color: hsla(0, 100%, 50%, 0.568);
    font-weight: bold;
}

.modal-form input::placeholder {
    color: rgba(203,212,217,255); 
    position: absolute;
}

.modal-form input:focus::placeholder {
  color: transparent;
}

.modal-form input:not(:focus)::placeholder {
  color: rgba(203,212,217,255); 
}

*input:focus{
    border: 0.5px solid $primary-color;
}

input.invalid {
    border: 0.5px solid red;
}

.country select{
    outline: none;
    cursor: pointer;
    color: hsl(0, 0%, 43%);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0.5px solid hsl(206, 29%, 91%);
    background-color: hsl(204, 56%, 98%);
    padding: 10px 10px;
    font-size: 1rem;
}

*select:focus{
    border: 0.5px solid $primary-color;
}

.form-button button{
    background: $primary-color;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.5rem;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.form-button button:hover{
    background: $hover-color;
}